<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplePanels</key>
	<dict>
		<key>48001234</key>
		<data>ABEAAABPAHoAsADjASIBfwHbAjgCtwNaBC4FLgZMB7wJSwrY</data>
		<key>G7801234</key>
		<data>ABEAAAAcACwAPwBRAGgAigCrAMwA+gE1AYEB3QJEAskDWQPo</data>
		<key>T4201234</key>
		<data>ABEAAACMANgBNgGPAf4CowNFA+cExwU1B1oJHAsTDZsQWRMS</data>
		<key>T4601234</key>
		<data>ABEAAAAcACwAPwBRAGgAigCrAMwA+gE1AYEB3QJEAskDWQPo</data>
	</dict>
</dict>
</plist>
