<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>org.chameleon.plist.IOAHCIBlockStorageInjector</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOAHCIBlockStorage Fix</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOAHCISerialATAPI</key>
		<dict>
			<key>ATAPI</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAHCISerialATAPI</string>
			<key>IOClass</key>
			<string>IOAHCISerialATAPI</string>
			<key>IOProbeScore</key>
			<integer>25000</integer>
			<key>IOProviderClass</key>
			<string>IOAHCIDevice</string>
			<key>Protocol Characteristics</key>
			<dict>
				<key>Physical Interconnect</key>
				<string>SATA</string>
				<key>Physical Interconnect Location</key>
				<string>Internal</string>
			</dict>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
